.mainslider {
  aspect-ratio: 1/0.6;
  /* border: solid 1px #ddd; */
  /* overflow: hidden; */
  margin-bottom: 20px;
  background-color: #f0f0f0 !important
}

.mainslider img,
.navslider img {
  object-fit: contain;
  height: 100%;
  margin: auto;
}

.slick-list,
.slick-track,
.slick-slide div {
  height: 100%;
}

.navslider {
  height: 100px;
}