:root {
  --green: hsl(152, 36%, 70%);
  --yellow: hsl(48, 100%, 84%);
  --orange: hsl(29, 100%, 69%);

  --darkgreen: hsl(152, 28%, 35%);
  --light-yellow: hsl(48, 88%, 94%);

  --bulma-primary-h: 152;
  --bulma-primary-s: 36%;
  --bulma-primary-l: 70%;
}


body {
  min-height: 100vh;
}

/* #root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
} */

.navbar-brand a img:first-child {
  margin: 10px 20px -30px 20px;
  vertical-align: top;
}

.navbar-brand a img:nth-child(2) {
  margin-top: 20px;
}

div:not(#splash-screen, #splash-screen > *):has(> h1) {
  padding-top: 20vh;
  background-color: #96ceb4;
  background-image: url('/img/main-background-2.webp');
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: center;
}

#splash-screen {
  min-height: 50vh;
  background-color: #96ceb4;
  background-image: url('/img/main-background-2.webp');
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: center;
  position: relative;
}

#splash-screen>div:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
}

#splash-screen .button {
  background-color: var(--orange);
}

#splash-screen::before,
div:not(#splash-screen, #splash-screen > *):has(> h1)::before {
  content: '';
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

#splash-screen::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(/img/vector/curb.svg);
}

#splash-screen+section+section {
  position: relative;
}

#splash-screen+section+section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(/img/vector/curb2.svg);
}

h1:not(#splash-screen h1) {
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center;
  padding: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h3 {
  border-bottom: solid 2px var(--yellow);
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

header.scrolled nav {
  background-color: #fff;
  transition: all ease-out 0.5s;
  box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.2);
}

header.scrolled nav .navbar-item,
header.scrolled .navbar-item a {
  color: #000;
  transition: all ease-out 0.5s;
}

nav.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  transition: all ease-out 0.5s;
}

.navbar-item,
.navbar-item a {
  color: #fff;
  transition: all ease-out 0.5s;
}

/* footer>div {
    justify-content: center;
    gap: 2em;
}
*/
footer>div>ul {
  columns: 2;
}

footer li {
  list-style-type: none;
}

a {
  color: var(--darkgreen);
}

.button {
  border-radius: var(--bulma-radius-rounded);
}

.yellow-line {
  background-color: var(--yellow);
  background: rgb(255, 238, 173);
  background: linear-gradient(150deg,
      rgba(255, 238, 173, 1) 0%,
      rgba(255, 173, 96, 1) 100%);
  padding-bottom: 75px;
  padding-top: 75px;
}

#home-map-container>*:not(#user-type-info) {
  width: 500px;
  height: 500px;
  max-width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  z-index: 1;
}

#user-type-info {
  margin-top: 50px;
}

#user-type-info p {
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  padding: 5px;
}

#user-type-info img {
  /* margin-top: -20%; */
  vertical-align: middle;
}

.animal-list {
  /* max-height: 80vh; */
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.messenger-item-list {
  border: solid 0.2rem #ffad602e;
  max-height: 40vh;
  overflow: auto;
}

@media (width <=1024px) {
  .messenger-item-list {
    max-height: 20vh;
    overflow: auto;
  }

  #splash-screen {
    padding-top: 100px;
  }

  header img[alt='Logo'] {
    width: 40px;
  }

  header img[alt='Pet Foster'] {
    width: 120px;
  }

  header:not(.scrolled) .navbar-burger {
    background-color: rgba(255, 255, 255, 0.7);
    color: #000;
  }
}

.chat-window {
  max-height: 55vh;
  overflow: auto;
  border: solid 0.2rem #ffad6012;
}

.container-received-message {
  width: 75%;
  margin-bottom: 0.5rem;
}

.container-received-message p:first-child {
  border: solid 0.2rem #ffad60;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-bottom: 0.1rem !important;
  font-size: small;
}

.container-sent-message {
  width: 75%;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.container-sent-message p:first-child {
  border: solid 0.2rem #96ceb4;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  margin-bottom: 0.1rem !important;
  font-size: small;
}

.messagerie-user-miniature {
  aspect-ratio: 1/1;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
}

.issue-date {
  font-size: 10px;
}

.animal-miniature {
  aspect-ratio: 1/1;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
  margin-right: 5px;
}

.animal-miniature img {
  object-fit: cover;
  height: 100%;
}

/* div:has(#animal-filter)>* {
  position: relative
} */
.map-and-animals {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;
}

.map-and-animals>* {
  flex-grow: 2;
  flex-basis: 100%;
  padding: 20px;
}

@media (width <=769px) {
  .map-and-animals {
    padding: 0;
  }

  .animals-maplist {
    order: 2;
  }

  .map-column {
    padding: 0;
  }

  .map-column>.card {
    height: 40vh !important;
    border-radius: 0;
  }
}

@media (width >=769px) {
  .animals-maplist {
    flex-basis: 50%;
  }

  .map-column {
    flex-basis: 50%;
  }

  .map-column>.card {
    height: 500px !important;
  }
}

@media (width >=1216px) {
  .animals-maplist {
    flex-basis: 40%;
  }

  .map-column {
    flex-basis: 60%;
  }
}

#animal-filter {
  position: fixed;
  top: 50%;
  /* transform: ; */
  right: 0;
  /* overflow: hidden; */
  z-index: 999;
  /* background-color: var(--yellow); */
  width: 220px;
  transform: translateX(100%) translateY(-50%);
  transition: all ease-out 0.3s;
  /* border-radius: 10px 0 0 10px; */
}

#animal-filter>button {
  transform: translateX(-100%);
  transition: all ease-out 0.3s;
  margin-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#animal-filter.open>button {
  transform: translateX(0);
  transition: all ease-out 0.3s;
}

#animal-filter form {
  /* transform: translateX(100%); */
  padding: 20px;

  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  border: solid 2px #ddd;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#animal-filter.open {
  transform: translateX(0) translateY(-50%);
  transition: all ease-out 0.3s;
}

.info-block {
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  border-top: solid 2px var(--green);
  margin-top: 250px;
}

.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}

.modal.is-active {
  z-index: 99;
}

.modal input[type="range"] {
  border: 0;
}

.modal-card-head {
  justify-content: space-between;
}

.modal-card-head>* {
  flex-grow: 2;
}

/* .modal input[type=range]::-webkit-slider-thumb,
input[type=range]::-moz-range-thumb,
input[type=range]::-ms-thumb {
  background-color: red;
  border: solid 1px black;
} */

/* input[type="range"]:focus {
  outline: none;
} */
/* Special styling for WebKit/Blink */
input[type=range]::-webkit-slider-thumb {
  background-color: #000;
}

/* All the same stuff for Firefox */
input[type=range]::-moz-range-thumb {
  background-color: #000;
}

/* All the same stuff for IE */
input[type=range]::-ms-thumb {
  background-color: #000;
}

input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #fff;
  border-radius: 1.3px;
  border-bottom: solid 3px #ddd;
}

input[type=range]:focus::-webkit-slider-runnable-track {
  background: #fff;
  border-bottom: solid 3px #ddd;
}

input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: #fff;
  border-radius: 1.3px;
  border-bottom: solid 3px #ddd;
}

input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

input[type=range]::-ms-fill-lower {
  background: #fff;
  border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-lower {
  background: #fff;
}

input[type=range]::-ms-fill-upper {
  background: #fff;
  border-radius: 2.6px;
}

input[type=range]:focus::-ms-fill-upper {
  background: #fff;
}

/* georama*/

/* @font-face {
  font-family: 'GeoramaRoman';
  src: url('../../../public/font/GeoramaRoman-ExtraCondensedThin.woff2') format('woff2');
  font-weight: 200;

} */

/* @font-face {
  font-family: 'GeoramaRoman';
  src: url('/font/GeoramaRoman-ExtraCondensedRegular.woff2') format('woff2');
  font-weight: 400;

} */

@font-face {
  font-family: 'GeoramaRoman';
  src: url('/font/Georama-Regular.woff2') format('woff2');
  font-weight: 700;

}

h1,
h2,
h3 {
  font-family: 'GeoramaRoman', sans-serif;
}




.leaflet-popup-content .mapopup-header {
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  font-size: 1em;
  text-align: center;
}

.leaflet-popup .mapopup-subheader {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  text-transform: capitalize;
}

.leaflet-popup li {
  border-bottom: solid 1px #ddd;
}

.leaflet-popup .mapopup-usertype {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.picture-uploader {
  padding-top: 50px;
}

.Toastify__toast-container--top-right {
  top: 100px;
}

/*  menu burger */
@media (max-width: 1023px) {
  .navbar-item {
    color: rgb(0, 0, 0);
  }
}

@media (max-width: 1023px) {
  .user-icon {
    color: rgb(0, 0, 0);
  }
}

/* footer */

.footer {
  padding-top: 48px;
  padding-bottom: 48px;
}

/* animal/#  */

.button.is-secondary.is-fullwidth {
  white-space: normal;
  text-align: center;
}

.animal-item .column {
  margin: 0;
}

.button.is-extra-small {
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
}

@media (width > 1024px) {
  a.navbar-item:hover {
    color: #000;
  }
}

@media (width <1024px) {
  .navbar-item {
    text-align: center;
  }

  .navbar-item.has-dropdown>a {
    display: none;
  }
}

.yellow-card {
  background-color: var(--light-yellow);
}

h1::first-letter,
h2::first-letter,
h3::first-letter {
  text-transform: uppercase;
}

/* transformer les tableaux en flex */

@media(width <1024px) {
  #request-table th {
    display: none;
  }

  #request-table tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: var(--bulma-box-background-color);
    border-radius: 10px;
    margin-top: 10px;
    box-shadow: var(--bulma-box-shadow);
    padding: var(--bulma-box-padding);
    border: solid 1px #ddd;
    align-items: center;
  }

  #request-table tbody td {
    flex-grow: 3;
    border-bottom: 0;
  }

  #request-table .validator {
    text-align: right;
  }

  #request-table .validator:has(.button)::before {
    content: "Valider ou refuser la demande : ";
    font-size: 0.8em;
  }

  #request-table .request-status {
    text-align: right;
  }

  #fosterling-profiles-table thead {
    display: none;
  }

  #fosterling-profiles-table tbody tr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  #fosterling-profiles-table tbody tr:not(:last-of-type) {
    border-bottom: solid 1px #ddd;
  }

  #fosterling-profiles-table tbody tr>* {
    flex-grow: 2;
    border-bottom: 0;
  }

  #fosterling-profiles-table tbody td::before {
    content: attr(aria-label);
    font-size: 11px;
    display: block;
  }
}

/* TrouverAnimal */

@media(width <826px) {
  h1.title {
    font-size: 1.4rem;
    margin-bottom: 1rem;
  }


  #user-type-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.5rem;
    justify-items: center;
    margin-bottom: 0.2rem;
  }

}