:root {
  --green: hsl(152, 36%, 70%);
  --yellow: hsl(48, 100%, 84%);
  --orange: hsl(29, 100%, 69%);

  --bulma-primary-h: 152;
  --bulma-primary-s: 36%;
  --bulma-primary-l: 70%;
}

/* .navbar-brand {
    height: 100px;
    margin-bottom: -50px
} */

body {
  font-family: 'Georama', Arial, sans-serif;
}

.navbar-brand a img:first-child {
  margin: 10px 20px -30px 20px;
  vertical-align: top;
}

.navbar-brand a img:nth-child(2) {
  margin-top: 20px;
}

div:not(#splash-screen, #splash-screen > *):has(> h1) {
  padding-top: 20vh;
  background-color: #96ceb4;
  background-image: url('/img/main-background-2.jpg');
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: center;
}

#splash-screen {
  min-height: 50vh;
  background-color: #96ceb4;
  background-image: url('/img/main-background-2.jpg');
  background-size: cover;
  background-blend-mode: luminosity;
  background-position: center;
  position: relative;
}

#splash-screen>div:nth-child(1) {
  background-color: rgba(255, 255, 255, 0.5);
}

#splash-screen .button {
  background-color: var(--orange);
}

#splash-screen::before,
div:not(#splash-screen, #splash-screen > *):has(> h1)::before {
  content: '';
  background: rgb(0, 0, 0);
  background: linear-gradient(180deg,
      rgba(0, 0, 0, 0.7) 0%,
      rgba(0, 0, 0, 0) 100%);
  width: 100%;
  height: 150px;
  position: absolute;
  top: 0;
  left: 0;
}

#splash-screen::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(/img/vector/curb.svg);
}

#splash-screen+section+section {
  position: relative;
}

#splash-screen+section+section::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background-image: url(/img/vector/curb2.svg);
}

h1:not(#splash-screen h1) {
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding: 1rem;
}

h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

h3 {
  border-bottom: solid 2px var(--yellow);
}

header {
  position: sticky;
  top: 0;
  z-index: 99;
}

header.scrolled nav {
  background-color: #fff;
  transition: all ease-out 0.5s;
  box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 26px 10px rgba(0, 0, 0, 0.2);
}

header.scrolled nav .navbar-item,
header.scrolled .navbar-item a {
  color: #000;
  transition: all ease-out 0.5s;
}

nav.navbar {
  position: absolute;
  width: 100%;
  background-color: transparent;
  transition: all ease-out 0.5s;
}

.navbar-item,
.navbar-item a {
  color: #fff;
  transition: all ease-out 0.5s;
}

/* footer>div {
    justify-content: center;
    gap: 2em;
}
*/
footer>div>ul {
  columns: 2;
}

.button {
  border-radius: var(--bulma-radius-rounded);
}

.yellow-line {
  background-color: var(--yellow);
  background: rgb(255, 238, 173);
  background: linear-gradient(150deg,
      rgba(255, 238, 173, 1) 0%,
      rgba(255, 173, 96, 1) 100%);
  padding-bottom: 75px;
  padding-top: 75px;
}

#home-map-container>* {
  width: 500px;
  height: 500px;
  max-width: 100%;
  aspect-ratio: 1/1;
  margin: auto;
  z-index: 1;
}

.animal-list {
  /* max-height: 80vh; */
  max-height: 500px;
  padding: 10px;
  overflow-y: auto;
}

.messenger-item-list {
  border: solid 0.2rem #ffad602e;
  max-height: 40vh;
  overflow: auto;
}

@media (width <=768px) {
  .messenger-item-list {
    max-height: 20vh;
    overflow: auto;
  }

  #splash-screen {
    padding-top: 100px;
  }

  header img[alt="Logo"] {
    width: 40px;
  }

  header img[alt="Pet Foster"] {
    width: 120px;
  }

  header:not(.scrolled) .navbar-burger {
    background-color: rgba(255, 255, 255, .5)
  }
}

.chat-window {
  max-height: 55vh;
  overflow: auto;
  border: solid 0.2rem #ffad6012;
}

.container-received-message {
  width: 75%;
  margin-bottom: 0.5rem;
}

.container-received-message p:first-child {
  border: solid 0.2rem #ffad60;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  margin-bottom: 0.1rem !important;
  font-size: small;
}

.container-sent-message {
  width: 75%;
  align-self: flex-end;
  margin-bottom: 0.5rem;
}

.container-sent-message p:first-child {
  border: solid 0.2rem #96ceb4;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  margin-bottom: 0.1rem !important;
  font-size: small;
}

.messagerie-user-miniature {
  aspect-ratio: 1/1;
  width: 32px;
  height: 32px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
}

.issue-date {
  font-size: 10px;
}

.animal-miniature {
  aspect-ratio: 1/1;
  width: 64px;
  height: 64px;
  overflow: hidden;
  border-radius: 50%;
  padding: 0;
}

.animal-miniature img {
  object-fit: cover;
  height: 100%;
}

/* div:has(#animal-filter)>* {
  position: relative
} */
.map-and-animals {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 20px;

}

.map-and-animals>* {
  flex-grow: 2;
  flex-basis: 100%;
  padding: 20px;
}

@media (width <=769px) {
  .map-and-animals {
    padding: 0;
  }

  .animals-maplist {
    order: 2;
  }

  .map-column {
    padding: 0;
  }

  .map-column>.card {
    height: 40vh !important;
    border-radius: 0;
  }
}

@media (width >=769px) {
  .animals-maplist {
    flex-basis: 50%;
  }

  .map-column {
    flex-basis: 50%;
  }

  .map-column>.card {
    height: 500px !important;
  }
}

@media (width >=1216px) {
  .animals-maplist {
    flex-basis: 40%;
  }

  .map-column {
    flex-basis: 60%;
  }
}

#animal-filter {
  position: fixed;
  top: 50%;
  /* transform: ; */
  right: 0;
  /* overflow: hidden; */
  z-index: 999;
  /* background-color: var(--yellow); */
  width: 220px;
  transform: translateX(100%) translateY(-50%);
  transition: all ease-out 0.3s;
  /* border-radius: 10px 0 0 10px; */

}



#animal-filter>button {
  transform: translateX(-100%);
  transition: all ease-out 0.3s;
  margin-bottom: 10px;
}

#animal-filter.open>button {
  transform: translateX(0);
  transition: all ease-out 0.3s;
}

#animal-filter form {
  /* transform: translateX(100%); */
  padding: 20px;

  background-color: rgba(255, 255, 255, .8);
  border-radius: 10px;
  border: solid 2px #ddd;
}

#animal-filter.open {
  transform: translateX(0) translateY(-50%);
  transition: all ease-out 0.3s;
}

.info-block {
  padding-top: 70px;
  padding-bottom: 70px;
}

footer {
  border-top: solid 2px var(--green);
}

.modal-body {
  max-height: 80vh;
  overflow-y: auto;
}

/* georama*/

@font-face {
  font-family: 'GeoramaRoman';
  src: url('../../../public/font/GeoramaRoman-ExtraCondensedThin.woff2') format('woff2');
  font-weight: 200;
  /* Light */
}

@font-face {
  font-family: 'GeoramaRoman';
  src: url('/font/GeoramaRoman-ExtraCondensedRegular.woff2') format('woff2');
  font-weight: 400;
  /* Regular */
}

@font-face {
  font-family: 'GeoramaRoman';
  src: url('/font/GeoramaRoman-ExtraCondensedBold.woff2') format('woff2');
  font-weight: 700;
  /* Bold */
}


h1 {
  font-family: 'GeoramaRoman', sans-serif;
  font-weight: 700;
  /* Bold */
}

p {
  /* font-family: 'GeoramaRoman', sans-serif; */
  font-weight: 400;
  /* Regular */
}

/* .leaflet-popup-content {
  width: 300px !important
} */

.leaflet-popup-content .mapopup-header {
  font-weight: bold;
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  font-size: 1em;
  text-align: center
}

.leaflet-popup .mapopup-subheader {
  margin: 0 0 5px 0;
  padding: 0;
  font-weight: bold;
  text-transform: capitalize;
}

.leaflet-popup li {
  border-bottom: solid 1px #ddd;
}

.leaflet-popup .mapopup-usertype {
  padding: 0;
  margin: 0;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.picture-uploader {
  padding-top: 50px;
}

.Toastify__toast-container--top-right {
  top: 100px;
}


/*  menu burger */
@media (max-width: 1023px) {
.navbar-item {
  color: rgb(0, 0, 0); 
}
}

@media (max-width: 1023px) {
  .user-icon {
    color: rgb(0, 0, 0); 
  }
}

/* home page */

=======
    filter: brightness(0) invert(0);
    /* Appliquez le filtre noir */
  }
}
>>>>>>> b2aad7583854f055b80eab9cb234a2eff90d090e
